


#googleMap {
  width: 70%;
  height: 600px;

  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#poolList {
  width: 30%;
  height: 600px;

  font-weight: bold;
  font-size: 3em;
}

li {
	font-size: 12px;
  list-style-type: none;
}

#wrapper  {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

ul {
  display: block;
  padding: 20px;
}

li:nth-child(even) {background: #CCC}
li:nth-child(odd) {background: #FFF;
  color: black;}

#search-wrapper {
  background: #004050;
  width: 30%;
  color: white;
  /*Some cool shadow and glow effect*/
  box-shadow:
    0 5px 15px 1px rgba(0, 0, 0, 0.6),
    0 0 200px 1px rgba(255, 255, 255, 0.5);
}